Repository CodeSystem2022/proyecto-final-debuggin-demons, pull requests merged in 2023-11, with the labels that each got.

#6 Template login
  frontend/src/components/login.html
  frontend/src/css/login.css
Labels: enhancement, html, css, JavaScript

#9 Merge footer to dev
  frontend/src/components/footer.html
  frontend/src/css/footer.css
Labels: html, css

#14 Merge perfil-usuario to dev
  backend/controllers/users.js
  backend/repositories/users.js
  backend/routes/users.js
  backend/services/users.js
Labels: html, css, JavaScript

#13 Back login
  backend/controllers/users.js
  backend/repositories/users.js
  backend/routes/auth.js
  backend/routes/index.js
  backend/services/users.js
  frontend/src/servicios/login.js
Labels: enhancement, JavaScript
